html{
    font-family: Consolas, Monaco, monospace;

}

.main-screen{
    /* text-align: center; */
    background-color: #000;
    color:#FFF;
    border-radius: 10px;
    border:1px solid #a1a1a1;
    width: 1024px;
    height: 768px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
